[Unit]
Description=NAS restic data backup (via nas-heavy)
[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/sbin/nas-heavy nas-data-backup /usr/local/sbin/nas-data-backup backup
