[Unit]
RequiresMountsFor=/srv/storage
Description=Sauvegarde Seagate vers Google Drive (rclone)
After=network-online.target srv-storage.mount
Wants=network-online.target

[Service]
Type=oneshot
User=nasowner
Group=nasowner
Nice=10
IOSchedulingClass=idle
TimeoutStartSec=0
SuccessExitStatus=7 8 9
ExecStart=/usr/bin/rclone copy /srv/storage/ --exclude "/Rapide/**" --exclude "/lost+found/**" "gdrive:<DRIVE_FOLDER>/" --transfers 4 --checkers 4 --drive-chunk-size 64M --max-transfer 700G --cutoff-mode=soft --retries 5 --low-level-retries 20 --stats 15m --stats-one-line --log-level INFO --log-file /home/nasowner/rclone-seagate.log --exclude "/Flight Simulator/**" --exclude "/Vidéos/DaVinci/CacheClip/**" --tpslimit 8

[Install]
WantedBy=multi-user.target
